body {
    background-image: linear-gradient(to right, aqua, rgb(56, 56, 255));
  }
  .main {
    text-align: center;
    padding-top: 50px;
  }
  #inp{
    position: relative;
  }
  
  #inp1{
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    padding: 10px 20px;
  }
  
  #inp button {
    height: 55px;
    width: 70px;
    border: none;
    background-color: #e4e4e4;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    left: -7px;
    bottom: -5px;
    box-sizing: none;
  }

  *{
    outline: none;
  }

  .tbl{
      margin: 10px auto;
      font-size: 25px;
      background-color: white;
      width: 80%;
      text-align: center;
      padding-right: 35px;
  }
  
  .tblDa{
      width: 33%;
  }

  #inps{
      width: 80%;
      margin: 10px 0;
      position: relative;
      right: 10%;
      left: 14%;
      transform: translate(-10%,-10%);
  }
  .inp2{
      float: right;
      height: 20px;
      width: 40%;
      font-size: 20px;
      padding: 10px;
      border: none;
     margin-left: 3px; 
    }

    .delBtn{
      cursor: pointer;
      color: red;
      font-size: 25px;
      font-weight: 600;
    }